<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.inspius.yo_video">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- check app background -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:replace="android:icon,android:theme,android:label">
        <activity
            android:name=".activity.VideoActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activity.IntroActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.YoutubePlayerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />
        <activity
            android:name=".activity.VitamioPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />
        <activity
            android:name=".activity.MusicPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.DailyMotionPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />

        <activity
            android:name=".activity.JWPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />

        <activity
            android:name=".activity.WebViewPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />


        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- IMPORTANT: This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- IMPORTANT: Change "facebook_app_id" in the lines below to match your Facebook Id.-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- IMPORTANT: Change "fabric_app_id" in the lines below to match your Fabric Id.-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b582a4de8e8bb7f104a2fde4bbb1c31aaf09d449" />

        <!-- IMPORTANT: jwplayer-->
        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="VhdGGWw+4IX/o0y9QxdrKIS6R/CddyhGD1i2UA==" />

        <!-- Defining Firebase Services -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Defining End Firebase Services -->

        <service
            android:name=".service.DownloadVideoService"
            android:exported="false" />

        <receiver
            android:name=".service.DownloadReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
