<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.inspius.canyon.yo_video">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--&lt;!&ndash;-->
    <!--IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below-->
    <!--to match your app's package name + ".permission.C2D_MESSAGE".-->
    <!--&ndash;&gt;-->
    <!--<permission-->
        <!--android:name="com.inspius.canyon.yo_video.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.inspius.canyon.yo_video.permission.C2D_MESSAGE" />-->

    <application
        android:name=".app.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:replace="android:icon,android:theme,android:label">
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:theme="@style/Theme.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.PlayerUploadActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />

        <activity
            android:name=".activity.PlayerYoutubeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />
        <activity
            android:name=".activity.PlayerVimeoActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />
        <activity
            android:name=".activity.VitamioActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />
        <activity
            android:name=".activity.MusicPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />
        <!--Include the FacebookActivity configChanges and theme. -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activity.PlayerDailyMotionActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme" />
        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- IMPORTANT: This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- IMPORTANT: Change "facebook_app_id" in the lines below to match your Facebook Id.-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- IMPORTANT: Change "fabric_app_id" in the lines below to match your Fabric Id.-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b582a4de8e8bb7f104a2fde4bbb1c31aaf09d449" />

        <!--&lt;!&ndash; Added for Parse push notifications &ndash;&gt;-->
        <!--<service android:name="com.parse.PushService" />-->

        <!--<receiver-->
            <!--android:name=".service.CustomPushReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
                <!--<action android:name="com.parse.push.intent.DELETE" />-->
                <!--<action android:name="com.parse.push.intent.OPEN" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name="com.parse.GcmBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--&lt;!&ndash;-->
                  <!--IMPORTANT: Change "com.parse.starter" to match your app's package name.-->
                <!--&ndash;&gt;-->
                <!--<category android:name="com.inspius.canyon.yo_video" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; /Added for Parse push notifications &ndash;&gt;-->

        <service
            android:name=".service.DownloadIntentService"
            android:exported="false"/>

    </application>

</manifest>
